.project
.vagrant
.rspec
.git
manifest.json
manifest.json.lock
vagrant.json
Gemfile.lock

**/ansible/roles/*
**/playbook.retry
base/box/*
base/output*/*
base/packer_cache/*
base/manifest.json.lock
